p{
    font-size:14px;
    text-align: justify;
}

.method-title{
    margin-top:30px;
}

.formula{
    font-size:10px;
    display: block;
}

div.checkbox, label.radio-inline{
    padding-top:0px !important;
}

.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"]{
    margin-top: 1px !important;
}

#show_formula{
    margin-top:20px;
}

.border-right, .diff{
    border-right: 1px #ddd solid !important;
    font-weight: 600 !important;
}

.actual{
    color: brown;
}

.budget{
    color: #6020ff;
}

th.small{
    font-weight: normal;
}

th.actual, th.budget, th.diff{
    text-align:center;
}

.w100{
    width:90px;
    padding:0px 2px;
    height:25px;
    text-align: right;
    font-size: 13px
}

label.normal{
    font-weight: normal;
}